<div>Welcome back, <strong>{{fullname}}</strong></div>

<div style="margin: 5% auto;">
    <!-- In Exercise 3, we will look at how to create our chart controls. -->
</div>


<script>
    // We will add the JavaScript coding here.
</script>