{{#if show_error}}
    <div class="form-group error-box">
        An error occured while trying to delete the record.<br />Please contact the administrator for more information.
    </div>
{{/if}}

{{#if show_info}}
    <div class="form-group info-box">
        The event venue record has been deleted.
    </div>
{{/if}}

<div id="grid-news-articles" class="grid-listing-view"></div>

<div class="buttons-panel">
    <a id="add-event-type" class="control-buttons form-btn k-primary" href="/eventvenues/create" type="button">Add Event Type</a>&nbsp;
</div>

<!-- In the last Exercise, we will explore the Window control. -->

<script language="JavaScript">
    // Window control coding here.

    $('.control-buttons').kendoButton();

    $("#grid-news-articles").kendoGrid({
        dataSource: {
            type: "json",
            transport: {
                read: "{{baseUri}}/api/newsarticles/get_all_articles"
            },
            pageSize: 20
        },
        height: 550,
        groupable: false,
        sortable: true,
        pageable: false,
        columns: [
            {
                template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='/eventvenues/edit/?id=#: _id#'>Edit</a>&nbsp;" +
                "<a class='form-btn grid-buttons k-button' href='/api/eventvenues/delete_venue/?id=#: _id#'>Delete</a></span>",
                field: "_id",
                title: " ",
                width: 168
            },
            {
                template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='javascript:void(0)' onclick='viewArticle(\"#: _id#\")'>Read Article</a>",
                field: "_id",
                title: " ",
                width: 168
            },
            {
                field: "articleTitle",
                title: "Article Title"
            },
            {
                field: "articleSummary",
                title: "ArticleSummary"
            },
            {
                field: "dateCreated",
                title: "Date Created",
                template: "<span>#: kendo.toString(new Date(kendo.parseDate(dateCreated)), 'dd-MM-yyyy h:mm:ss tt')#</span>",
                width: 200
            },
            {
                field: "dateModified",
                title: "Date Modified",
                template: "<span>#: kendo.toString(new Date(kendo.parseDate(dateModified)), 'dd-MM-yyyy h:mm:ss tt')#</span>",
                width: 200
            },
        ]
    });

    <!-- Additional Window control coding here. -->

    function editArticleClick() {
        var articleId = $('#hdnArticleId').val();

        location.assign('/newsarticles/edit/?id=' + articleId + '&mode=cms');
    }
</script>