<div class="buttons-panel">
	<a id="manage-event" class="control-buttons form-btn k-primary" href="/events/dashboard" disabled="disabled" type="button">Manage Events</a>&nbsp;
	<a id="manage-speakers" class="control-buttons form-btn k-primary" href="/eventspeakers/list" type="button">Manage Event Speakers</a>&nbsp;
	<a id="manage-event-venue" class="control-buttons form-btn k-primary" href="/eventvenues/list" type="button">Manage Event Venues</a>&nbsp;
	<a id="manage-event-type" class="control-buttons form-btn" href="/eventtypes/list" type="button">Manage Event Types</a>&nbsp;
	<a id="manage-event-category" class="control-buttons form-btn" href="/eventcategories/list" type="button">Manage Event Categories</a>&nbsp;
	<a id="manage-event-status" class="control-buttons form-btn" href="/eventstatus/list" type="button">Manage Event Status</a>&nbsp;
</div>

<div style="text-align: left;">
	<div id="tabstrip">
		<ul>
			<li class="k-state-active">
				Schedule View
			</li>
			<li>
				List View
			</li>
		</ul>
		<div class="tab-content">
			<h3>Events Schedule</h3>

			<div class="tab-buttons-panel">
				<a id="add-event-btn2" class="control-buttons form-btn k-primary" href="/events/create" type="button">Add Event</a>&nbsp;
			</div>

			<div class="tab-buttons-panel">
				<label for="eventCategories" style="text-align: left; margin-right: 15px;">Select a Category:</label>
				<select id="eventCategories" name="eventCategories" style="display: inline-block; width: 300px;">
				</select>
			</div>

			<!-- Here, we will add the scheduler control. -->
		</div>
		<div>
			<h3>List of Events</h3>

			<div class="tab-buttons-panel">
				<a id="add-event-btn" class="control-buttons form-btn k-primary" href="/events/create" type="button">Add Event</a>&nbsp;
			</div>

			<!-- This is where we will add our Grid control -->

			<!-- We will add the Events Details Template code here. -->
		</div>
	</div>
</div>

<!-- Here, we will add the Scheduler's Event Template -->

<script>
	function editEvent(id) {
		window.location.href='/events/edit/?id=' + id + '&mode=cms';
	}

	$('#tabstrip').kendoTabStrip({
		animation:  {
			open: {
				effects: "fadeIn"
			}
		}
	});

	/* In the Grid exercise, you will add your coding here. */


	/* Exercise Two: We will learn how to create a Scheduler control and customizing its settings */

	$('.control-buttons').kendoButton();
</script>